# Part 3. (CA2.Data_Analystic)

# European  dataset

In [2]:
# importing packages
import pandas as pd
import numpy as np
import seaborn as sns
import datetime as dt
from cmath import sqrt
import warnings
import matplotlib.pyplot as plt
warnings.filterwarnings('ignore')

# EU Price of Crops in Euros

In [3]:
europeagri_consumer = pd.read_csv('tag00044_linear.csv')

europeagri_consumer.head()

,DATAFLOW,LAST UPDATE,freq,unit,meatitem,meat,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:TAG00044(1.0),24/10/22 23:00:00,A,THS_T,SL,B1000,AL,2015,8.70,NaN
1,ESTAT:TAG00044(1.0),24/10/22 23:00:00,A,THS_T,SL,B1000,AL,2016,11.37,NaN
2,ESTAT:TAG00044(1.0),24/10/22 23:00:00,A,THS_T,SL,B1000,AL,2017,10.29,NaN
3,ESTAT:TAG00044(1.0),24/10/22 23:00:00,A,THS_T,SL,B1000,AL,2018,7.34,NaN
4,ESTAT:TAG00044(1.0),24/10/22 23:00:00,A,THS_T,SL,B1000,AL,2019,5.61,NaN

In [4]:
europeagri_consumer.tail()

,DATAFLOW,LAST UPDATE,freq,unit,meatitem,meat,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
432,ESTAT:TAG00044(1.0),24/10/22 23:00:00,A,THS_T,SL,B1000,XK,2015,11.26,NaN
433,ESTAT:TAG00044(1.0),24/10/22 23:00:00,A,THS_T,SL,B1000,XK,2016,13.73,NaN
434,ESTAT:TAG00044(1.0),24/10/22 23:00:00,A,THS_T,SL,B1000,XK,2017,12.73,NaN
435,ESTAT:TAG00044(1.0),24/10/22 23:00:00,A,THS_T,SL,B1000,XK,2018,16.35,NaN
436,ESTAT:TAG00044(1.0),24/10/22 23:00:00,A,THS_T,SL,B1000,XK,2019,16.12,NaN