In [1]:
# importing packages
import pandas as pd
import numpy as np
import seaborn as sns
import datetime as dt
from cmath import sqrt
import warnings
import matplotlib.pyplot as plt
import datetime
import datetime as dt
import sklearn
#import folium
import warnings
#import pydotplus
import six
import sys
import statistics as st
#import functions as fn
#import cufflinks as cf

#cf.set_config_file(offline=True)

#prof.to_file(output_file='output.html')
sys.modules['sklearn.externals.six'] = six
warnings.filterwarnings('ignore')

# import ML packages
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression
from sklearn import datasets, linear_model
from sklearn import metrics
from sklearn.model_selection import cross_val_score
from scipy import stats
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder#for train test splitting
from sklearn.model_selection import train_test_split#for decision tree object
from sklearn.tree import DecisionTreeClassifier#for checking testing results
from sklearn.metrics import classification_report, confusion_matrix#for visualizing tree 
from sklearn.tree import plot_tree
from sklearn.tree import export_graphviz
from sklearn.externals.six import StringIO  
from IPython.display import Image 
from pandas.plotting import scatter_matrix
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.metrics import r2_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_curve
from sklearn.metrics import auc
from sklearn.ensemble import RandomForestRegressor
#from explainerdashboard import RegressionExplainer, ExplainerDashboard

#for interactive analysis
from ipywidgets import interact

%matplotlib inline

# IRELAND

# IRISH Crops Dataset

In [2]:
#Reading in Irish Crops dataset from between 2010 to 2020 8 actions 10 crop measurements and 139 crop types
irelandagri_crops = pd.read_csv('FAOSTAT_data_5-1-2022 (2).csv')
irelandagri_crops.head()

,Domain,Area,Element,Item,Year,Unit,Value
0,Crops and livestock products,Ireland,Area harvested,"Almonds, with shell",2018,ha,0.0
1,Crops and livestock products,Ireland,Area harvested,"Almonds, with shell",2019,ha,0.0
2,Crops and livestock products,Ireland,Area harvested,"Almonds, with shell",2020,ha,0.0
3,Crops and livestock products,Ireland,Production,"Almonds, with shell",2018,tonnes,0.0
4,Crops and livestock products,Ireland,Production,"Almonds, with shell",2019,tonnes,0.0

In [3]:
#reading the last 5 rows of the dataframe
irelandagri_crops.tail()

,Domain,Area,Element,Item,Year,Unit,Value
2124,Crops and livestock products,Ireland,Production,"Wool, greasy",2013,tonnes,14000.0
2125,Crops and livestock products,Ireland,Production,"Wool, greasy",2014,tonnes,14031.0
2126,Crops and livestock products,Ireland,Production,"Wool, greasy",2015,tonnes,14123.0
2127,Crops and livestock products,Ireland,Production,"Wool, greasy",2016,tonnes,14330.0
2128,Crops and livestock products,Ireland,Production,"Wool, greasy",2017,tonnes,14436.0

In [4]:
# description of variables
irelandagri_crops.describe()

              Year         Value
count  2129.000000  1.985000e+03
mean   2015.056364  3.845486e+05
std       3.161180  1.060809e+06
min    2010.000000  0.000000e+00
25%    2012.000000  2.220000e+02
50%    2015.000000  9.600000e+03
75%    2018.000000  9.500000e+04
max    2020.000000  8.561470e+06

In [5]:
# remove nan or missing values from multiple colu
irelandagri_crops =  irelandagri_crops.dropna()
irelandagri_crops.head()

,Domain,Area,Element,Item,Year,Unit,Value
0,Crops and livestock products,Ireland,Area harvested,"Almonds, with shell",2018,ha,0.0
1,Crops and livestock products,Ireland,Area harvested,"Almonds, with shell",2019,ha,0.0
2,Crops and livestock products,Ireland,Area harvested,"Almonds, with shell",2020,ha,0.0
3,Crops and livestock products,Ireland,Production,"Almonds, with shell",2018,tonnes,0.0
4,Crops and livestock products,Ireland,Production,"Almonds, with shell",2019,tonnes,0.0

In [6]:
# inspect dataset information and datatypes
irelandagri_crops.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1985 entries, 0 to 2128
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Domain   1985 non-null   object
 1   Area     1985 non-null   object
 2   Element  1985 non-null   object
 3   Item     1985 non-null   object
 4   Year     1985 non-null   int64
 5   Unit     1985 non-null   object
 6   Value    1985 non-null   float64
dtypes: float64(1), int64(1), object(5)
memory usage: 124.1+ KB

In [7]:
# Get the shape of the irish crops dataset before we merge
irelandagri_crops.shape

(1985, 7)

# I am concentrating on crops so I have removed livestock and non crops that appear under the column item

In [8]:
# Dropping the rows of all rows under item that do not contain crops but contain livestock etc.
irelandagri_crops= irelandagri_crops[irelandagri_crops["Item"].str.contains("Asses|Beer of barley|Cattle|skimmed cow milk|Cheese, whole cow milk|Chickens|Cream fresh|Ducks|Eggs, hen, in shell|Fat, cattle|Fat, pigs|Fat, sheep|Geese and guinea fowls|Goats|Hides, cattle, fresh|Honey, natural|Hops|Horses|Lard|Margarine, short|Meat nes|Meat, cattle|Meat, chicken|Meat, duck Meat, goose and guinea fowl|Meat, horse|Meat, pig|Meat, sheep|Meat, turkey|Milk, skimmed cow|Milk, skimmed dried|Milk, whole condensed|Milk, whole dried|Milk, whole evaporated|Milk, whole fresh cow|Mules|Offals, edible, cattle|Offals, horses|Offals, pigs, edible|Offals, sheep,edible|Oil, coconut (copra)|Oil, cottonseed|Oil, groundnut|Oil, linseed|Oil, palm kernel|Oil, rapeseed|Oil, soybean|Pigs|Rapeseed|Sheep|Skins, sheep, fresh|Sugar Raw Centrifugal|Tallow|Turkeys|fresh nes|Whey, condensed|Wool, greasy|Molasses|Almonds, with shell|Buffaloes|Cottonseed|Fat, goats|Hemp tow waste|Meat, goat|Milk, whole fresh buffalo|Milk, whole fresh goat|Milk, whole fresh sheep|Offals, edible, goats|paddy (rice milled equivalent)|Skins, goat, fresh|Sorghum|Tobacco, unmanufactured|Triticale|Meat, duck|Meat, goose and guinea fowl") == False]
# display
irelandagri_crops

,Domain,Area,Element,Item,Year,Unit,Value
6,Crops and livestock products,Ireland,Area harvested,Apples,2010,ha,620.0
7,Crops and livestock products,Ireland,Area harvested,Apples,2011,ha,620.0
8,Crops and livestock products,Ireland,Area harvested,Apples,2012,ha,620.0
9,Crops and livestock products,Ireland,Area harvested,Apples,2013,ha,615.0
10,Crops and livestock products,Ireland,Area harvested,Apples,2014,ha,635.0
...,...,...,...,...,...,...,...
2116,Crops and livestock products,Ireland,Production,"Whey, dry",2013,tonnes,30100.0
2117,Crops and livestock products,Ireland,Production,"Whey, dry",2014,tonnes,31530.0
2118,Crops and livestock products,Ireland,Production,"Whey, dry",2015,tonnes,34856.0
2119,Crops and livestock products,Ireland,Production,"Whey, dry",2016,tonnes,34416.0
2120,Crops and livestock products,Ireland,Production,"Whey, dry",2017,tonnes,41849.0

In [9]:
irelandagri_consumer = pd.read_csv('FAOSTAT_data_5-1-2022.csv')
irelandagri_consumer.head()

,Domain Code,Domain,Area Code,Area,Year Code,Year,Item Code,Item,Months Code,Months,Unit,Value,Flag,Flag Description,Note
0,CP,Consumer Price Indices,104,Ireland,2010,2010,23012,"Consumer Prices, General Indices (2015 = 100)",7001,January,NaN,94.39322,X,International reliable sources,base year is 2015
1,CP,Consumer Price Indices,104,Ireland,2010,2010,23012,"Consumer Prices, General Indices (2015 = 100)",7002,February,NaN,94.79192,X,International reliable sources,base year is 2015
2,CP,Consumer Price Indices,104,Ireland,2010,2010,23012,"Consumer Prices, General Indices (2015 = 100)",7003,March,NaN,94.79192,X,International reliable sources,base year is 2015
3,CP,Consumer Price Indices,104,Ireland,2010,2010,23012,"Consumer Prices, General Indices (2015 = 100)",7004,April,NaN,95.09096,X,International reliable sources,base year is 2015
4,CP,Consumer Price Indices,104,Ireland,2010,2010,23012,"Consumer Prices, General Indices (2015 = 100)",7005,May,NaN,95.58933,X,International reliable sources,base year is 2015

In [10]:
irelandagri_consumer.tail()

,Domain Code,Domain,Area Code,Area,Year Code,Year,Item Code,Item,Months Code,Months,Unit,Value,Flag,Flag Description,Note
391,CP,Consumer Price Indices,104,Ireland,2020,2020,23014,Food price inflation,7008,August,%,-1.750778,Fc,Calculated data,NaN
392,CP,Consumer Price Indices,104,Ireland,2020,2020,23014,Food price inflation,7009,September,%,-1.455308,Fc,Calculated data,NaN
393,CP,Consumer Price Indices,104,Ireland,2020,2020,23014,Food price inflation,7010,October,%,-1.557635,Fc,Calculated data,NaN
394,CP,Consumer Price Indices,104,Ireland,2020,2020,23014,Food price inflation,7011,November,%,-1.455308,Fc,Calculated data,NaN
395,CP,Consumer Price Indices,104,Ireland,2020,2020,23014,Food price inflation,7012,December,%,-1.559265,Fc,Calculated data,NaN

In [11]:
irelandagri_consumer.describe()

,Area Code,Year Code,Year,Item Code,Months Code,Value
count,396.0,396.000000,396.000000,396.000000,396.000000,396.000000
mean,104.0,2015.000000,2015.000000,23013.000000,7006.500000,65.929177
std,0.0,3.166278,3.166278,0.817529,3.456419,47.631523
min,104.0,2010.000000,2010.000000,23012.000000,7001.000000,-8.216785
25%,104.0,2012.000000,2012.000000,23012.000000,7003.750000,0.044322
50%,104.0,2015.000000,2015.000000,23013.000000,7006.500000,97.910945
75%,104.0,2018.000000,2018.000000,23014.000000,7009.250000,100.672800
max,104.0,2020.000000,2020.000000,23014.000000,7012.000000,105.411300

In [12]:
irelandagri_consumer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396 entries, 0 to 395
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       396 non-null    object
 1   Domain            396 non-null    object
 2   Area Code         396 non-null    int64
 3   Area              396 non-null    object
 4   Year Code         396 non-null    int64
 5   Year              396 non-null    int64
 6   Item Code         396 non-null    int64
 7   Item              396 non-null    object
 8   Months Code       396 non-null    int64
 9   Months            396 non-null    object
 10  Unit              132 non-null    object
 11  Value             396 non-null    float64
 12  Flag              396 non-null    object
 13  Flag Description  396 non-null    object
 14  Note              264 non-null    object
dtypes: float64(1), int64(5), object(9)
memory usage: 46.5+ KB

In [13]:
irelandagri_consumer.shape

(396, 15)

Creating a new feature called months out of month to contain the months as strings not numeric values for my visualisations later on

In [14]:
#merging both datasets using a left Inner Join on Year and year columnn and assiging the result to a new 
#dataframe called df_irishdata
df_irishdata =pd.merge(irelandagri_consumer,irelandagri_crops,left_on="Year",right_on="Year", how ="inner")

In [15]:
#inspectng the new dataframe usualy the default of 5 rows is enough after the merge I like to see 20 rows to ensure
#I have captured everything from both datasets and also to ensure I have not captured lots of duplicates
df_irishdata.head(20)

,Domain Code,Domain_x,Area Code,Area_x,Year Code,Year,Item Code,Item_x,Months Code,Months,...,Value_x,Flag,Flag Description,Note,Domain_y,Area_y,Element,Item_y,Unit_y,Value_y
0,CP,Consumer Price Indices,104,Ireland,2010,2010,23012,"Consumer Prices, General Indices (2015 = 100)",7001,January,...,94.39322,X,International reliable sources,base year is 2015,Crops and livestock products,Ireland,Area harvested,Apples,ha,620.0
1,CP,Consumer Price Indices,104,Ireland,2010,2010,23012,"Consumer Prices, General Indices (2015 = 100)",7001,January,...,94.39322,X,International reliable sources,base year is 2015,Crops and livestock products,Ireland,Yield,Apples,hg/ha,340323.0
2,CP,Consumer Price Indices,104,Ireland,2010,2010,23012,"Consumer Prices, General Indices (2015 = 100)",7001,January,...,94.39322,X,International reliable sources,base year is 2015,Crops and livestock products,Ireland,Production,Apples,tonnes,21100.0
3,CP,Consumer Price Indices,104,Ireland,2010,2010,23012,"Consumer Prices, General Indices (2015 = 100)",7001,January,...,94.39322,X,International reliable sources,base year is 2015,Crops and livestock products,Ireland,Area harvested,Barley,ha,174800.0
4,CP,Consumer Price Indices,104,Ireland,2010,2010,23012,"Consumer Prices, General Indices (2015 = 100)",7001,January,...,94.39322,X,International reliable sources,base year is 2015,Crops and livestock products,Ireland,Yield,Barley,hg/ha,69971.0
5,CP,Consumer Price Indices,104,Ireland,2010,2010,23012,"Consumer Prices, General Indices (2015 = 100)",7001,January,...,94.39322,X,International reliable sources,base year is 2015,Crops and livestock products,Ireland,Production,Barley,tonnes,1223100.0
6,CP,Consumer Price Indices,104,Ireland,2010,2010,23012,"Consumer Prices, General Indices (2015 = 100)",7001,January,...,94.39322,X,International reliable sources,base year is 2015,Crops and livestock products,Ireland,Area harvested,"Beans, green",ha,206.0
7,CP,Consumer Price Indices,104,Ireland,2010,2010,23012,"Consumer Prices, General Indices (2015 = 100)",7001,January,...,94.39322,X,International reliable sources,base year is 2015,Crops and livestock products,Ireland,Yield,"Beans, green",hg/ha,80437.0
8,CP,Consumer Price Indices,104,Ireland,2010,2010,23012,"Consumer Prices, General Indices (2015 = 100)",7001,January,...,94.39322,X,International reliable sources,base year is 2015,Crops and livestock products,Ireland,Production,"Beans, green",tonnes,1657.0
9,CP,Consumer Price Indices,104,Ireland,2010,2010,23012,"Consumer Prices, General Indices (2015 = 100)",7001,January,...,94.39322,X,International reliable sources,base year is 2015,Crops and livestock products,Ireland,Area harvested,Berries nes,ha,52.0
10,CP,Consumer Price Indices,104,Ireland,2010,2010,23012,"Consumer Prices, General Indices (2015 = 100)",7001,January,...,94.39322,X,International reliable sources,base year is 2015,Crops and livestock products,Ireland,Yield,Berries nes,hg/ha,32500.0
11,CP,Consumer Price Indices,104,Ireland,2010,2010,23012,"Consumer Prices, General Indices (2015 = 100)",7001,January,...,94.39322,X,International reliable sources,base year is 2015,Crops and livestock products,Ireland,Production,Berries nes,tonnes,169.0
12,CP,Consumer Price Indices,104,Ireland,2010,2010,23012,"Consumer Prices, General Indices (2015 = 100)",7001,January,...,94.39322,X,International reliable sources,base year is 2015,Crops and livestock products,Ireland,Area harvested,"Broad beans, horse beans, dry",ha,3400.0
13,CP,Consumer Price Indices,104,Ireland,2010,2010,23012,"Consumer Prices, General Indices (2015 = 100)",7001,January,...,94.39322,X,International reliable sources,base year is 2015,Crops and livestock products,Ireland,Yield,"Broad beans, horse beans, dry",hg/ha,57059.0
14,CP,Consumer Price Indices,104,Ireland,2010,2010,23012,"Consumer Prices, General Indices (2015 = 100)",7001,January,...,94.39322,X,International reliable sources,base year is 2015,Crops and livestock products,Ireland,Production,"Broad beans, horse beans, dry",tonnes,19400.0
15,CP,Consumer Price Indices,104,Ireland,2010,2010,23012,"Consumer Prices, General Indices (2015 = 100)",7001,January,...,94.39322,X,International reliable sources,base year is 2015,Crops and livestock products,Ireland,Production,"Butter, cow milk",tonnes,135100.0
16,CP,Consumer Price Indices,104,Ireland,2010,2010,23012,"Consumer Prices, General Indices (2015 = 100)",7001,January,...,94.39322,X,International reliable sources,base year is 2015,Crops and livestock products,Ireland,Area harvested,Cabbages and other brassicas,ha,1096.0
17,CP,Consumer Price Indices,104,Ireland,2010,2010,23012,"Consumer Prices, General Indices (2015 = 100)",7001,January,...,94.39322,X,International reliable sources,base year is 2015,Crops and livestock products,Ireland,Yield,Cabbages and other brassicas,hg/ha,233577.0
18,CP,Consumer Price Indices,104,Ireland,2010,2010,23012,"Consumer Prices, General Indices (2015 = 100)",7001,January,...,94.39322,X,International reliable sources,base year is 2015,Crops and livestock products,Ireland,Production,Cabbages and other brassicas,tonnes,25600.0
19,CP,Consumer Price Indices,104,Ireland,2010,2010,23012,"Consumer Prices, General Indices (2015 = 100)",7001,January,...,94.39322,X,International reliable sources,base year is 2015,Crops and livestock products,Ireland,Area harvested,Carrots and turnips,ha,1150.0

In [16]:
#display the shape of the new merged dataframe
df_irishdata.shape

(36684, 21)

In [17]:
#inspect the last 5 rows of the dataframe
df_irishdata.tail()

,Domain Code,Domain_x,Area Code,Area_x,Year Code,Year,Item Code,Item_x,Months Code,Months,...,Value_x,Flag,Flag Description,Note,Domain_y,Area_y,Element,Item_y,Unit_y,Value_y
36679,CP,Consumer Price Indices,104,Ireland,2020,2020,23014,Food price inflation,7012,December,...,-1.559265,Fc,Calculated data,NaN,Crops and livestock products,Ireland,Area harvested,Watermelons,ha,0.0
36680,CP,Consumer Price Indices,104,Ireland,2020,2020,23014,Food price inflation,7012,December,...,-1.559265,Fc,Calculated data,NaN,Crops and livestock products,Ireland,Production,Watermelons,tonnes,0.0
36681,CP,Consumer Price Indices,104,Ireland,2020,2020,23014,Food price inflation,7012,December,...,-1.559265,Fc,Calculated data,NaN,Crops and livestock products,Ireland,Area harvested,Wheat,ha,46990.0
36682,CP,Consumer Price Indices,104,Ireland,2020,2020,23014,Food price inflation,7012,December,...,-1.559265,Fc,Calculated data,NaN,Crops and livestock products,Ireland,Yield,Wheat,hg/ha,77659.0
36683,CP,Consumer Price Indices,104,Ireland,2020,2020,23014,Food price inflation,7012,December,...,-1.559265,Fc,Calculated data,NaN,Crops and livestock products,Ireland,Production,Wheat,tonnes,364920.0

In [18]:
# description of variables
df_irishdata.describe()

,Area Code,Year Code,Year,Item Code,Months Code,Value_x,Value_y
count,36684.0,36684.000000,36684.000000,36684.000000,36684.0000,36684.000000,3.668400e+04
mean,104.0,2015.582924,2015.582924,23013.000000,7006.5000,65.736045,1.511631e+05
std,0.0,3.257066,3.257066,0.816508,3.4521,47.456091,4.903645e+05
min,104.0,2010.000000,2010.000000,23012.000000,7001.0000,-8.216785,0.000000e+00
25%,104.0,2013.000000,2013.000000,23012.000000,7003.7500,-0.204711,4.000000e+01
50%,104.0,2016.000000,2016.000000,23013.000000,7006.5000,96.578500,2.647000e+03
75%,104.0,2019.000000,2019.000000,23014.000000,7009.2500,100.772500,7.578900e+04
max,104.0,2020.000000,2020.000000,23014.000000,7012.0000,105.411300,3.920000e+06

In [19]:
# inspect new dataframe for dtype info size etc.
df_irishdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36684 entries, 0 to 36683
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       36684 non-null  object
 1   Domain_x          36684 non-null  object
 2   Area Code         36684 non-null  int64
 3   Area_x            36684 non-null  object
 4   Year Code         36684 non-null  int64
 5   Year              36684 non-null  int64
 6   Item Code         36684 non-null  int64
 7   Item_x            36684 non-null  object
 8   Months Code       36684 non-null  int64
 9   Months            36684 non-null  object
 10  Unit_x            12228 non-null  object
 11  Value_x           36684 non-null  float64
 12  Flag              36684 non-null  object
 13  Flag Description  36684 non-null  object
 14  Note              24456 non-null  object
 15  Domain_y          36684 non-null  object
 16  Area_y            36684 non-null  object
 17  Element           36684 non-null  object
 18  Item_y            36684 non-null  object
 19  Unit_y            36684 non-null  object
 20  Value_y           36684 non-null  float64
dtypes: float64(2), int64(5), object(14)
memory usage: 6.2+ MB

In [20]:
#dropping the large Country feature no need for 2 of the same and we will keep the lowercase one
#irishdata= irishdata.drop("Note","Flag","Area_x","Area_y")
df_irishdata.drop(['Note','Flag','Area_x','Area_y','Domain Code','Year Code','Area Code','Item Code','Months Code','Unit_x'], axis=1, inplace=True)

In [21]:
#Rename our columns to be more descriptive names for some and ensure all of the uppercase ones are 
#lowercase to keep in line with naming conventions
df_irishdata = df_irishdata.rename(columns={'Domain_x':'consumer_domain',
                       'Item_x':'consumer_description',
                       'Year':'year',
                       'Item_x':'consumer_item',
                       'Value_x':'consumer_value',
                       'Flag Description':'consumer_description',
                       'Domain_y':'crops_domain',
                       'Element':'crops_action',
                       'Item_y':'crops_type',
                       'Unit_y':'crop_measurement',
                       'Value_y':'crop_value'})

In [22]:
#inspect the top 5 rows to check the renaming of the columns above
df_irishdata.head()

,consumer_domain,year,consumer_item,Months,consumer_value,consumer_description,crops_domain,crops_action,crops_type,crop_measurement,crop_value
0,Consumer Price Indices,2010,"Consumer Prices, General Indices (2015 = 100)",January,94.39322,International reliable sources,Crops and livestock products,Area harvested,Apples,ha,620.0
1,Consumer Price Indices,2010,"Consumer Prices, General Indices (2015 = 100)",January,94.39322,International reliable sources,Crops and livestock products,Yield,Apples,hg/ha,340323.0
2,Consumer Price Indices,2010,"Consumer Prices, General Indices (2015 = 100)",January,94.39322,International reliable sources,Crops and livestock products,Production,Apples,tonnes,21100.0
3,Consumer Price Indices,2010,"Consumer Prices, General Indices (2015 = 100)",January,94.39322,International reliable sources,Crops and livestock products,Area harvested,Barley,ha,174800.0
4,Consumer Price Indices,2010,"Consumer Prices, General Indices (2015 = 100)",January,94.39322,International reliable sources,Crops and livestock products,Yield,Barley,hg/ha,69971.0

# Data Exploration & Cleaning

# Missing Data